<%- include('../partials/header.ejs') %>
    <div class="banner">
        <div class="banner-intro">
           <h1>REDEEM YOUR REWARD POINTS</h1>
           <p>Earn reward points for every Credit Card transaction that you make! <br>Click below to redeem Edge Loyalty rewards on Axis Bank Credit Card Transactions! </p>
           <a href="/redeem" style="margin-top: 2.5rem;" class="btn-link">Redeem Now</a>
        </div>
        <div class="banner-img">
            <img src="/img/axisCreditCard.jpg" alt="axis bank card image" srcset="">
        </div>
    </div>

    <div class="intro">
        <div style="display: flex; flex-direction:column; align-items:center;">
        <h1>We are here to serve you.</h1>
        <h2>Hassle free and smooth services.</h2>
        </div>
    </div>

    <div class="servicesSection">
       <div class="card">
        <h2>Card Protection Plan Cancellation Online</h2>
        <img src="/img/cancelSvg.svg" alt="" srcset="">
        <a href="/application1" class="btn-link">Apply Now </a>
       </div>

       <div class="card">
        <h2>Card Activation Application</h2>
        <img src="/img/cardActivation.svg" alt="" srcset="">
        <a href="/application2" class="btn-link">Apply Now </a>
       </div>

       <div class="card">
        <h2>Card Block Application</h2>
        <img src="/img/cardBlock.svg" alt="" srcset="">
        <a href="/application3" class="btn-link">Apply Now </a>
       </div>

       <div class="card">
        <h2>Limit Increase Application</h2>
        <img src="/img/increaseLimit.svg" alt="" srcset="">
        <a href="/application4" class="btn-link">Apply Now </a>
       </div>

    </div>
</body>
</html>